<div class="container">
  <div class="row py-4">

    <div class="col">
      <h1>Checkout summary</h1>
      <p>Book of <strong><%= @booking.car.name %></strong> for <strong><%= humanized_money_with_symbol @booking.amount %></strong></p>
      <p>Recuerda que esta disponible desde <%= @booking.car.start_date %></p>
      <p>hasta <%= @booking.car.end_date %></p>
      <%= cl_image_tag @booking.car.image, height: 300, width: 400, crop: :fill %>
      <p>Select Start date
      <input id="date" type="date" name="start_date" id="search_query"></p>
       <p>Select end date
      <input id="date" type="date" name="start_date" id="search_query"></p>










      <button id="pay" class="btn btn-primary">Reservar!</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @booking.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
