<% if @car.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

    <ul>
    <% @car.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>

<% end %>


<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-8">
      <%= simple_form_for (@car) do |f| %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :image %>
    <%= f.input :image_cache, as: :hidden %>
    <%= f.input :doors %>
    <%= f.input :seats %>
    <%= f.input :gearshift %>
    <%= f.input :air %>
    <%= f.input :lagguage %>
    <%= f.input :pick_up %>

    <div class="flex-container">
    <%= f.datetime_field :start_date, class: "fa fa-calendar"%>
    <%= f.datetime_field :end_date,  class: "fa fa-calendar" %>

    </div>

    <%= f.submit "create car", class: "btn btn-primary" %>
  <% end %>



    </div>
  </div>
</div>


