<% if @query.present? %>
   <p>You searched for <strong><%= @query %></strong>. We found <%= @cars.count %> cars out of our <%= Car.count %> on our website.</p>

<% end %>

<div class="main-container">

<div class="cards">
    <% @cars.each do |car| %>
   <div class="card">
    <%= car.name %>
    <%= cl_image_tag car.image, height: 50, width: 400, crop: :fill %>
    <div class="flexx-container">
      <a><img src="https://img.icons8.com/windows/32/000000/airbag-off.png"><%= car.seats %></a>
      <a><img src="https://img.icons8.com/material-sharp/24/000000/car-door--v2.png"><%= car.doors %></a>
      <a><img src="https://img.icons8.com/small/24/000000/cooling.png"><%= car.air %></a>
      <a><img src="https://img.icons8.com/ios/30/000000/bag-diagonal-view.png"><%= car.lagguage %></a>

    </div>

    <%= link_to "More details", car_path(car) %>

  </div>
    <% end %>


</div>


</div>

<a href="https://icons8.com/icon/32148/door">Door icon by Icons8</a>



