<% if @query.present? %>
   <p>You searched for <strong><%= @query %></strong>. We found <%= @cars.count %> cars out of our <%= Car.count %> on our website.</p>

<% end %>

<div class="main-container">

<div class="cards">
    <% @cars.each do |car| %>
   <div class="card">
    <%= car.name %>
    <%= cl_image_tag car.image, height: 50, width: 400, crop: :fill %>
    <%= car.category %>
    <%= car.doors %>
    <%= car.seats %>
    <%= car.air %>
    <%= car.start_date %>
      <p>Day price: <%= humanized_money_with_symbol(car.price) %></p>

    <%= link_to "More details", car_path(car) %>

  </div>
    <% end %>


</div>


</div>

