<% if @query.present? %>
   <p>You searched for <strong><%= @query %></strong>. We found <%= @cars.count %> cars out of our <%= Car.count %> on our website.</p>

<% end %>

<% @cars.each do |car| %>
  <%= car.name %>
  <%= cl_image_tag car.image, height: 150, width: 400, crop: :fill %>
  <%= car.category %>
  <%= car.doors %>
  <%= car.seats %>
  <%= car.air %>
  <%= car.start_date %>
  <%= link_to "More details", car_path(car), class: "btn btn-primary" %>
<% end %>

