<% if @query.present? %>
   <p>You searched for <strong><%= @query %></strong>. We found <%= @cars.count %> cars out of our <%= Car.count %> on our website.</p>

<% end %>

<div class="main-container">

<div class="cards">
    <% @cars.each do |car| %>
   <div class="card">
    <%= car.name %>
    <%= cl_image_tag car.image, height: 50, width: 400, crop: :fill %>
    <div class="flexx-container">

      <%= car.category %>
      <a><%= car.doors %><i class="fa fa-user" aria-hidden="true"></i></a>
      <%= car.seats %>

      <p>Day price: <%= humanized_money_with_symbol(car.price) %></p>
      <%= car.air %>
    </div>

    <%= link_to "More details", car_path(car) %>

  </div>
    <% end %>


</div>


</div>

