<h1>Have a look at <%= @car.name %></h1>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-12  col-lg-7">
      <%= @car.name %>
      <%= cl_image_tag @car.image, height: 300, width: 400, crop: :fill %>
    <br>
      <%= @car.category %>
      <%= @car.doors %>
      <%= @car.seats %>
      <%= @car.gearshift %>
      <%= @car.air %>
      <%= @car.lagguage %>
      <%= @car.pick_up %>
      <p>Amount: <%= humanized_money_with_symbol(@car.price) %></p>

      <br>

      <p> Available from<%= @car.start_date.strftime( "%d/%m/%Y %H:%M")  %> until <%= @car.end_date.strftime( "%d/%m/%Y %H:%M") %></p>

    </div>

  </div>

</div>


<!-- Adding form to create a booking -->
<%= form_tag bookings_path do %>
  <%= hidden_field_tag 'car_id', @car.id %>
  <%= submit_tag 'Book', class: 'btn btn-primary' %>
<% end %>


