
<div class="container">
  <div class="row">

    <div class="col-12 col-lg-8">
       <h1>Marca: <%= @car.name %></h1>
      <h2>Categoria: <%= @car.category %></h2>
      <p> Disponible desde <%= @car.start_date.strftime( "%d/%m/%Y %H:%M")%> Hasta <%= @car.end_date.strftime( "%d/%m/%Y %H:%M") %></p>
        <p>Amount: <%= humanized_money_with_symbol(@car.price) %></p>
        <p>Recogida en <%= @car.pick_up %></p>
        <p>Cambio: <%= @car.gearshift %></p>

       <%= form_tag bookings_path do %>
      <%= hidden_field_tag 'car_id', @car.id %>
      <%= submit_tag 'Book', class: 'btn btn-primary' %>
    <% end %>


    </div>

    <div class="col-12 col-lg-4">
      <%= cl_image_tag @car.image, height: 300, width: 400, crop: :fill %>
    </div>

  </div>
</div>
