<h1>Have a look at <%= @car.name %></h1>


<%= @car.name %>
<%= @car.image %>
<br>
<%= @car.category %>
<%= @car.doors %>
<%= @car.seats %>
<%= @car.gearshift %>
<%= @car.air %>
<%= @car.lagguage %>
<%= @car.pick_up %>
<br>
<p>Available from <%= @car.start_date.strftime("%m/%d/%Y")%> until  <%= @car.end_date.strftime("%m/%d/%Y") %>  </p>

