<h1>All our cars</h1>


<%= @car.name %>
<%= @car.image %>
<br>
<%= @car.category %>
<%= @car.doors %>
<%= @car.seats %>
<%= @car.gearshift %>
<%= @car.air %>
<%= @car.lagguage %>
<%= @car.pick_up %>
