<h1>Have a look at <%= @car.name %></h1>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-12  col-lg-7">
      <%= @car.name %>
      <%= @car.image %>
    <br>
      <%= @car.category %>
      <%= @car.doors %>
      <%= @car.seats %>
      <%= @car.gearshift %>
      <%= @car.air %>
      <%= @car.lagguage %>
      <%= @car.pick_up %>
      <br>

      <p> Available from<%= @car.start_date.strftime( "%d/%m/%Y %H:%M")  %> until <%= @car.end_date.strftime( "%d/%m/%Y %H:%M") %></p>

    </div>

  </div>

</div>
